<div class="app p-4 container-fluid">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <app-card *ngIf="user; else loadingBlock" [user]="user"></app-card>
        <ng-template #loadingBlock>
          <div class="text-center m-5">
            <div class="spinner-border spinner-grow-mg text-white" role="statue">
            </div>
            <div class="text-center text-white">
                loading...
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>